/cljsexp-instaparse/target
/cljsexp-instaparse/classes
/cljsexp-instaparse/checkouts
/cljsexp-instaparse/.lein-*
/cljsexp-instaparse/.nrepl-port
/cljsexp-instaparse/.lein-*
/cljsexp-instaparse/.nrepl-port
/cljsexp-instaparsepom.xml
/cljsexp-instaparsepom.xml.asc
/cljsexp-instaparse.DS_Store
/cljsexp-instaparse.#*

/cljsexp-simple/target
/cljsexp-simple/classes
/cljsexp-simple/checkouts
/cljsexp-simple/.lein-*
/cljsexp-simple/.nrepl-port
/cljsexp-simple/.lein-*
/cljsexp-simple/.nrepl-port
/cljsexp-simplepom.xml
/cljsexp-simplepom.xml.asc
/cljsexp-simple.DS_Store
/cljsexp-simple.#*

*.jar
*.class
*~
*~
*#

